.container {
  padding-right: 2px;
}

.minified {
  position: absolute;
  bottom: 0;
  height: 280px;
  right: 0;
  width: 600px;
  border: 1px solid var(--active);
}

.section{
  max-height: calc(100% - 70px);
}