.container {
  height: 100vh;
}

.perf-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  border: 1px solid var(--active);
  background: rgba(68, 72, 89, 0.8);
}

.perf {
  width: 100%;
}
