.container {
  height: 240px;
  width: 240px;
  max-height: 240px;
  max-width: 240px;
  min-height: 120px;
  min-width: 120px;

  margin: 10px 10px 20px;

  &:hover {
    box-shadow: 0 0 6px 4px #5d5555;
  }
}

.horizontal {
  height: 55px;
  width: 100%;
  max-width: none;
  min-height: unset;
  margin: 0;
  border-bottom: var(--border);

  &:hover {
    box-shadow: none;
    background: var(--dark-gray);
  }
}

.price {
  top: 6px;
  left: 2px;
  font-size: 14px;
  margin-left: 10px;
  z-index: 1;
}

.check {
}

.image {
  width: 100%;
  height: 100%;
}

.hor-image {
  height: 100%;
  width: auto;
  margin-right: 20px;
}

.info {
  color: var(--text-gray);
  font-size: 11px;
  font-weight: normal;
}

.info-hor {
  flex-grow: 2;
}

.name {
  max-width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.actions-bg{
  top: 0;
  width: 100%;
  height: 30px;
  background: rgba(53, 50, 50, 0.35);
}

.actions {
  z-index: 1;
  top: 0;
  right: 0;
  margin: 5px 5px 5px 20px;
  min-width: 30px;
}

.action {
  margin-left: 4px;

  &:hover {
    box-shadow: 0 0 10px 2px #00000073 inset
  }
}