.container {

}

.image {
  max-height: 99%;
  max-width: 100%;
  width: auto;
  height: auto;
}

.text {
  font-size: 30px;
}

.price {
  top: 10px;
  left: 10px;
  font-size: 24px;
  padding: 6px;
  background: rgba(53, 50, 50, 0.35);
}